<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net452" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net452" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net452" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net452" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net452" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net452" />
  <package id="RestSharp" version="106.11.4" targetFramework="net452" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.Equip" version="0.3.141.172" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
  <package id="TikaOnDotnet" version="1.17.1" targetFramework="net452" />
  <package id="TikaOnDotnet.TextExtractor" version="1.17.1" targetFramework="net452" />
  <package id="Unity" version="5.9.5" targetFramework="net452" />
</packages>